@use "placeholders" as *;
@use "mixins" as *;
@use "variables" as *;

.wrapper {
   width: 100%;
   min-height: 100vh;
   padding-inline: 8%;
   padding-block: 5%;
   align-items: center;
   @extend %display-flex-col;

   @include media-breakpoint(mobile) {
      padding-top: 16%;
   }

}

.header {
   width: 100%;
   height: 5rem;
   position: fixed;
   z-index: 10;
   @extend %place-content-center;

   .nav-bar {
      margin-top: 2rem;
      min-width: 28%;
      height: 100%;
      backdrop-filter: blur(5px);
      @extend %place-content-center;
      column-gap: 1rem;
      font-size: calc(var(--fs-1) - 2px);
      font-weight: 500;
      outline: 1px solid var(--primary-200);
      border-radius: 2rem;
      padding-inline: 2rem;

      @include media-breakpoint(tablet) {
         width: 80%;
      }
   }
}


.hero-section {
   overflow: hidden;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;

   @include media-breakpoint(mobile) {
      flex-direction: column-reverse;
      justify-content: center;
   }

   .hero-image {
      padding: 5rem;
      max-width: 25rem;
      max-height: 25rem;
      position: relative;
      margin-left: 5rem;

      @include media-breakpoint(mobile) {
         margin-left: 0;
         margin-block: 5rem;
         margin-top: 6.5rem;
         max-width: 22rem;
      }

      img {
         outline: 1rem dashed var(--primary-300);
         border-radius: 50%;
      }

      .gradient-overlay {
         position: absolute;
         outline: 4px dashed var(--primary-100);
         border-radius: 100%;
         top: 0;
         right: 0;
         width: 100%;
         height: 100%;
         @include spin-animation(15s);

      }
   }

   .hero-info {
      flex: 1;
      @extend %display-flex-col;
      row-gap: 1rem;

      h1 {
         font-size: var(--fs-5)
      }

      h3 {
         font-size: var(--fs-3);
      }
   }
}

.about-section {
   row-gap: 2rem;

   figure {
      display: flex;
      position: relative;
      max-width: 15%;
      max-height: 15rem;
      overflow: hidden;
      border: 4px double var(--primary-200);
      padding: 1rem;
      border-radius: 3rem;
      background-color: var(--primary-500);
      margin-top: 2rem;

      @include media-breakpoint(mobile) {
         max-width: 30%;
         margin-top: 0;
      }

   }

   .paragraph {
      text-align: center;
   }
}

.education-section {
   row-gap: 4rem;

   .edu-container {
      display: flex;
      column-gap: 2rem;

      @include media-breakpoint(mobile) {
         flex-direction: column;
         row-gap: 3rem;
      }

      section {
         @extend %display-flex-col;
         row-gap: 1.5rem;

         h3 {
            font-size: calc(var(--fs-2) - 4px);
            font-weight: 600;
            color: var(--primary-100)
         }
      }
   }
}

.skills-section {
   row-gap: 4rem;

   .skills-container {
      align-self: normal;
      display: flex;
      column-gap: 3rem;
      color: var(--primary-100);

      @include media-breakpoint(mobile) {
         flex-direction: column;
         row-gap: 3rem;
      }

      section {
         @extend %display-flex-col;
         row-gap: 1.5rem;
         flex: 1;
         width: 100%;

         .card {
            outline: 3px solid var(--primary-200);
            min-width: 50%;

         }
      }

      @each $skill, $skillLevel in $skills {
         .#{$skill} {
            @each $name, $level in $skillLevel {
               & .#{$name} .level-bar .progress {
                  display: inline-block;
                  width: #{$level};
                  height: 100%;
                  background-color: var(--primary-200);
                  border-radius: 0.5rem;
               }
            }
         }
      }
   }
}

.contact-section {
   row-gap: 4rem;
   form {
      align-self: normal;
      @extend %display-flex-col;
      align-items: center;
      row-gap: 2rem;
      color: var(--primary-100);
      
      label {
         font-size: calc(var(--fs-2) - 4px);
         font-weight: 600;
         color: var(--primary-200)
      }

      div {
         @extend %display-flex-col;
         row-gap: 0.5rem;
         width: 70%;

         @include media-breakpoint(mobile) {
            width: 100%;
         }

         input, textarea {
            width: 100%;
            padding: 0.5rem;
            padding-block: 1rem;
            border-radius: 0.5rem;
            border: none;
            outline: 3px solid var(--primary-200);
            background-color: transparent;
            color: var(--primary-100);
         }

         textarea{
            resize: none;
         }
      }
   }
}

.footer {
   @extend %display-flex-col;
   justify-content: center;
   height: 5rem;
   padding-inline: 8%;

   p {
      font-size: calc(var(--fs-1) - 2px);
      font-weight: 500;
   }
}