$colors: (
   primary: (100: hsl(90, 8%, 95%),
      200: hsl(195, 100%, 48%),
      300: hsl(206, 58%, 17%),
      400: hsl(205, 67%, 10%),
      500: hsl(204, 60%, 10%),
   )
);

$font-sizes: (
   laptop: (1: 1rem,
      2: 1.4rem,
      3: 2rem,
      4: 3rem,
      5: 4rem,
   ),
   mobile: (1: 0.8rem,
      2: 1.2rem,
      3: 1.8rem,
      4: 2.5rem,
      5: 3.5rem,
   )
);

$skills: (
   coding: (
      html: 85%,
      react: 90%,
      css: 75%,
      vue: 80%,
   ),
   professional: (
      webDev: 75%,
      frontEnd: 80%,
      backEnd: 70%,
      mobileDev: 60%
   )
);