@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
.main-heading, .heading-secondary {
  font-size: var(--fs-4);
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-100);
}

.heading-secondary span {
  color: var(--primary-200);
}

.sub-heading {
  font-size: var(--fs-3);
  font-weight: 600;
  line-height: 1.2;
  color: var(--primary-200);
}

.paragraph {
  font-size: var(--fs-1);
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-100);
  opacity: 0.6;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.header, .header .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn, .card, .edu-card, .wrapper, .hero-section .hero-info, .education-section .edu-container section, .skills-section .skills-container section, .contact-section form, .contact-section form div, .footer {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding-inline: 8%;
  padding-block: 5%;
  align-items: center;
}

.header {
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 10;
}
.header .nav-bar {
  margin-top: 2rem;
  min-width: 28%;
  height: 100%;
  backdrop-filter: blur(5px);
  column-gap: 1rem;
  font-size: calc(var(--fs-1) - 2px);
  font-weight: 500;
  outline: 1px solid var(--primary-200);
  border-radius: 2rem;
  padding-inline: 2rem;
}

.hero-section {
  overflow: hidden;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .hero-section {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.hero-section .hero-image {
  padding: 5rem;
  max-width: 25rem;
  max-height: 25rem;
  position: relative;
  margin-left: 5rem;
}
@media only screen and (max-width: 1024px) {
  .hero-section .hero-image {
    margin-left: 0;
    margin-block: 5rem;
    max-width: 22rem;
  }
}
.hero-section .hero-image img {
  outline: 1rem dashed var(--primary-300);
  border-radius: 50%;
}
.hero-section .hero-image .gradient-overlay {
  position: absolute;
  outline: 4px dashed var(--primary-100);
  border-radius: 100%;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.hero-section .hero-info {
  flex: 1;
  row-gap: 1rem;
}
.hero-section .hero-info h1 {
  font-size: var(--fs-5);
}
.hero-section .hero-info h3 {
  font-size: var(--fs-3);
}

.about-section {
  row-gap: 2rem;
}
.about-section figure {
  display: flex;
  position: relative;
  max-width: 15%;
  max-height: 15rem;
  overflow: hidden;
  border: 4px double var(--primary-200);
  padding: 1rem;
  border-radius: 3rem;
  background-color: var(--primary-500);
  margin-top: 2rem;
}
@media only screen and (max-width: 1024px) {
  .about-section figure {
    max-width: 30%;
  }
}
.about-section .paragraph {
  text-align: center;
}

.education-section {
  row-gap: 4rem;
}
.education-section .edu-container {
  display: flex;
  column-gap: 2rem;
}
@media only screen and (max-width: 1024px) {
  .education-section .edu-container {
    flex-direction: column;
    row-gap: 3rem;
  }
}
.education-section .edu-container section {
  row-gap: 1.5rem;
}
.education-section .edu-container section h3 {
  font-size: calc(var(--fs-2) - 4px);
  font-weight: 600;
  color: var(--primary-100);
}

.skills-section {
  row-gap: 4rem;
}
.skills-section .skills-container {
  align-self: normal;
  display: flex;
  column-gap: 3rem;
  color: var(--primary-100);
}
@media only screen and (max-width: 1024px) {
  .skills-section .skills-container {
    flex-direction: column;
    row-gap: 3rem;
  }
}
.skills-section .skills-container section {
  row-gap: 1.5rem;
  flex: 1;
  width: 100%;
}
.skills-section .skills-container section .card {
  outline: 3px solid var(--primary-200);
  min-width: 50%;
}
.skills-section .skills-container .coding .html .level-bar .progress {
  display: inline-block;
  width: 85%;
  height: 100%;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}
.skills-section .skills-container .coding .react .level-bar .progress {
  display: inline-block;
  width: 90%;
  height: 100%;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}
.skills-section .skills-container .coding .css .level-bar .progress {
  display: inline-block;
  width: 75%;
  height: 100%;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}
.skills-section .skills-container .coding .vue .level-bar .progress {
  display: inline-block;
  width: 80%;
  height: 100%;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}
.skills-section .skills-container .professional .webDev .level-bar .progress {
  display: inline-block;
  width: 75%;
  height: 100%;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}
.skills-section .skills-container .professional .frontEnd .level-bar .progress {
  display: inline-block;
  width: 80%;
  height: 100%;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}
.skills-section .skills-container .professional .backEnd .level-bar .progress {
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}
.skills-section .skills-container .professional .mobileDev .level-bar .progress {
  display: inline-block;
  width: 60%;
  height: 100%;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}

.contact-section {
  row-gap: 4rem;
}
.contact-section form {
  align-self: normal;
  align-items: center;
  row-gap: 2rem;
  color: var(--primary-100);
}
.contact-section form label {
  font-size: calc(var(--fs-2) - 4px);
  font-weight: 600;
  color: var(--primary-200);
}
.contact-section form div {
  row-gap: 0.5rem;
  width: 70%;
}
@media only screen and (max-width: 1024px) {
  .contact-section form div {
    width: 100%;
  }
}
.contact-section form div input, .contact-section form div textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: 3px solid var(--primary-200);
  background-color: transparent;
  color: var(--primary-100);
}
.contact-section form div textarea {
  resize: none;
}

.footer {
  justify-content: center;
  height: 5rem;
  padding-inline: 8%;
}
.footer p {
  font-size: calc(var(--fs-1) - 2px);
  font-weight: 500;
}

:root {
  --primary-100: hsl(90, 8%, 95%);
  --primary-200: hsl(195, 100%, 48%);
  --primary-300: hsl(206, 58%, 17%);
  --primary-400: hsl(205, 67%, 10%);
  --primary-500: hsl(204, 60%, 10%);
}
:root .text-color-100 {
  color: var(--primary-100);
}
:root .text-color-200 {
  color: var(--primary-200);
}
:root .text-color-300 {
  color: var(--primary-300);
}
:root .text-color-400 {
  color: var(--primary-400);
}
:root .text-color-500 {
  color: var(--primary-500);
}
:root .bg-color-100 {
  background-color: var(--primary-100);
}
:root .bg-color-200 {
  background-color: var(--primary-200);
}
:root .bg-color-300 {
  background-color: var(--primary-300);
}
:root .bg-color-400 {
  background-color: var(--primary-400);
}
:root .bg-color-500 {
  background-color: var(--primary-500);
}

@media only screen and (min-width: 1024px) {
  :root {
    --fs-1: 1rem;
    --fs-2: 1.4rem;
    --fs-3: 2rem;
    --fs-4: 3rem;
    --fs-5: 4rem;
  }
}
:root .text-1 {
  font-size: var(--fs-1);
}
:root .text-2 {
  font-size: var(--fs-2);
}
:root .text-3 {
  font-size: var(--fs-3);
}
:root .text-4 {
  font-size: var(--fs-4);
}
:root .text-5 {
  font-size: var(--fs-5);
}
@media only screen and (max-width: 1024px) {
  :root {
    --fs-1: 0.8rem;
    --fs-2: 1.2rem;
    --fs-3: 1.8rem;
    --fs-4: 2.5rem;
    --fs-5: 3.5rem;
  }
}
:root .text-1 {
  font-size: var(--fs-1);
}
:root .text-2 {
  font-size: var(--fs-2);
}
:root .text-3 {
  font-size: var(--fs-3);
}
:root .text-4 {
  font-size: var(--fs-4);
}
:root .text-5 {
  font-size: var(--fs-5);
}

:root {
  --space-0: 0rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
}

:root .img-1 {
  width: 4rem;
  height: 4rem;
  background-image: url("./image-1.028a7c04.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-500);
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  margin-top: -7%;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  :root .img-1 {
    width: 3rem;
    height: 3rem;
  }
}
:root .img-2 {
  width: 4rem;
  height: 4rem;
  background-image: url("./image-2.c6541f88.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-500);
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  margin-bottom: -8%;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  :root .img-2 {
    width: 3rem;
    height: 3rem;
  }
}
:root .img-3 {
  width: 4rem;
  height: 4rem;
  background-image: url("./image-3.c3a1426f.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-500);
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  margin-left: -8%;
}
@media only screen and (max-width: 1024px) {
  :root .img-3 {
    width: 3rem;
    height: 3rem;
  }
}
:root .img-4 {
  width: 4rem;
  height: 4rem;
  background-image: url("./image-4.e784fea9.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-500);
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%) rotate(-90deg);
  margin-right: -8%;
}
@media only screen and (max-width: 1024px) {
  :root .img-4 {
    width: 3rem;
    height: 3rem;
  }
}
:root .img-5 {
  width: 4rem;
  height: 4rem;
  background-image: url("./image-5.ab77719e.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-500);
  position: absolute;
  left: 0;
  transform: translate(40%, 40%);
}
@media only screen and (max-width: 1024px) {
  :root .img-5 {
    width: 3rem;
    height: 3rem;
  }
}
:root .img-6 {
  width: 4rem;
  height: 4rem;
  background-image: url("./image-6.364c19d2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-500);
  position: absolute;
  right: 0;
  transform: translate(-50%, 40%) scale(1.3);
  border-radius: 50%;
}
@media only screen and (max-width: 1024px) {
  :root .img-6 {
    width: 3rem;
    height: 3rem;
  }
}

.btn-container {
  display: flex;
  column-gap: var(--space-8);
  margin-top: var(--space-10);
}

.btn {
  padding: 0.8rem 1.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: calc(var(--fs-1) - 0.1rem);
  outline: 2px solid var(--primary-200);
}
.btn:hover {
  background-color: var(--primary-200);
  color: var(--primary-500);
}

.icon-btn {
  position: relative;
  padding: 0.5rem;
  max-height: 8rem;
  max-width: 3.5rem;
  min-width: 3rem;
  row-gap: 0.3rem;
  justify-content: center;
  align-items: center;
}
.icon-btn:visited {
  color: var(--primary-300);
}
.icon-btn:hover {
  color: var(--primary-200);
  text-decoration: none;
}
.icon-btn:hover p {
  display: block;
}
.icon-btn:active {
  color: var(--primary-200);
}
.icon-btn img {
  border-radius: 50%;
  padding: 0.4rem;
  background-color: var(--primary-100);
  outline: 2px solid var(--primary-200);
}
.icon-btn p {
  display: none;
}

.card, .edu-card {
  border-radius: 0.3rem;
  padding: 1rem;
}

.edu-card {
  outline: 4px solid var(--primary-300);
  row-gap: 0.5rem;
  color: var(--primary-100);
  height: 12rem;
}
@media only screen and (max-width: 1024px) {
  .edu-card {
    height: 10rem;
  }
}
.edu-card h4 {
  font-size: calc(var(--fs-2) - 6px);
}
.edu-card p:first-child {
  font-size: calc(var(--fs-1) - 2px);
  font-weight: bold;
  color: var(--primary-300);
  filter: brightness(1.5);
}
.edu-card p:first-child span:first-child {
  display: inline-block;
  background-color: var(--primary-200);
  width: 9px;
  height: 9px;
  border: 1px solid var(--primary-200);
  border-radius: 50%;
}

.skill-level {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.skill-level p {
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: space-between;
}
.skill-level .level-bar {
  display: flex;
  width: 100%;
  height: 0.8rem;
  outline: 2px solid var(--primary-200);
  border-radius: 0.5rem;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */